<%= simple_form_for @album, html: { multipart: true } do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.submit class: "submit-album"%>
  </div>
<% end %>

