
<div class="row info-row">
  <div class="main-info">
    <div class="other-info block col-sm-3">
      <p>to be filled in</p>
    </div>
    <div class="contact-info block col-sm-3">
     <p>to be filled in</p>
    </div>
    <div class="other-info block col-sm-3">
      <p>to be filled in</p>
    </div>
    <div class="w-100"></div>
     <div class="other-info block col-sm-3">
        <p>to be filled in</p>
    </div>
  </div>
</div>







