<div class="video-background">
  <div class="video-foreground">
    <iframe src="https://www.youtube.com/embed/5gedx8krglY?controls=0&showinfo=1&rel=0&autoplay=1&mute=1&loop=1&playlist=5gedx8krglY" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="col-xs-12">
<% 3.times do %>
  <div class="card-info">
    <div class="swiper-container">
      <div class="swiper-wrapper">
          <% @album.photos.each do |images_instance| %>
          <div class="swiper-slide">
            <div class="cardnew" style="background-image: url('<%= cl_image_path images_instance.path %>')"></div>
          </div>
          <% end %>
      </div>
    </div>
    <% end  %>
  </div>
</div>

  <% content_for(:after_js) do %>
<!-- Initialize Swiper -->
  <%= javascript_tag do %>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        keyboardControl: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        autoplay: 5000,
        autoplayDisableOnInteraction: false
    });
  <% end %>
<% end %>











