<div class="col-xs-12">
  <div class="card-info">
    <div class="swiper-container">
      <div class="swiper-wrapper">
          <% @albums.each do |album| %>
          <% unless @albums.count == 0 %>
          <% album.paintings.each do |painting|%>
            <div class="swiper-slide">
              <div class="cardnew" style="background-image: url('<%= cl_image_path painting.photo %>')"></div>
            </div>
          <% end %>
          <% else %>
            <div class="swiper-slide">
              <div class="cardnew" style="background-image: url("../images/tom.jpg")"></div>
            </div>
        <% end %>
        <% end  %>
      </div>
    </div>
  </div>
</div>

  <% content_for(:after_js) do %>
<!-- Initialize Swiper -->
  <%= javascript_tag do %>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        calculateHeight:true,
        keyboardControl: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        autoplay: 3000,
        speed: 1000,
        autoplayDisableOnInteraction: false
    });
  <% end %>
<% end %>











