<div class="container">
  <div class="row">
    <% @albums.each do |album| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
        <div class="card-description">
          <h2><%= album.name %></h2>
        </div>
        <%= link_to "#", album_path(album), class: "card-link" %>
      </div>
    </div>
  <% end %>
  <% if user_signed_in? %>
  <div>
    <button> <%= link_to "create new album", new_album_path %> </button>
  </div>
  <% end %>
  </div>
</div>








