

<div class="delete-button" >
  <% if user_signed_in? %>
    <button class="text-center">
      <%= link_to 'delete album', album_path(@album),
      data: {:confirm => 'Are you sure?'}, :method => :delete %>
    </button>
  <% end %>
</div>

<div class="edit-button" >
  <% if user_signed_in? %>
    <button class="text-center">
      <%= link_to 'edit album', edit_album_path(@album) %>
    </button>
  <% end %>
</div>

<div class="edit-button" >
  <% if user_signed_in? %>
    <button class="text-center">
      <%= link_to 'add photo', new_album_painting_path(@album) %>
    </button>
  <% end %>
</div>

<% content_for(:after_js) do %>
    <%= javascript_tag do %>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        keyboardControl: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
    });
  <% end %>
<% end %>





