<% @album.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>

<button>
  <%= link_to 'delete album', album_path(@album),
  data: {:confirm => 'Are you sure?'}, :method => :delete %>
</button>
