<div class="col-xs-12 col-md-12">
  <div class="blog-post">
    <div class="blog-post-title">
      <h1><%= post.title %></h1>
    </div>
    <div class="blog-post-content">
      <p><%= post.content %></p>
    </div>
    <div class="blog-post-category-name">
      <p><%= post.category.name %></p>
    </div>
  </div>
</div>
