<div class="container">
  <div class="row" id="new_posts">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
</div>

<div id="go-to-top-button" class="hidden-xs hidden-sm hidden-md hidden-lg">
  <button onclick="topFunction()" title="Go to top"> GO TO TOP </button>
</div>

<div>
  <% if user_signed_in? %>
    <div class="new-blog-post-button">
      <button><%= link_to "NEW BLOG POST", new_post_path, id: "new_post_link", remote: true %></button>
    </div>
  <% end %>
</div>



