.attachinary_container {
  text-align: center;
  margin-top: 3px;
  display: flex;
  justify-content: center;
}

.submit-album {
  text-align: center;
  font-size: 18px;
  border-style: dashed;
  border-color: green;
  margin: 20px;
}

.attachinary_container ul {
  margin-top: 20px;
}

.attachinary_container ul li {
  margin-top: 10px;
  list-style: none;
}

.attachinary_container img {
  width: 25px;
  height: 25px;
}

.attachinary-photos-list {
  text-align: center;
}
