.show-album-name {
  font-size: 28px;
  font-weight: bold;
  font-family: $headers-font;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.show-photo-name {
  font-size: 23px;
  text-align: center;
  margin: 5px;
}

.profile-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0px;
}

.profile-gallery-img {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
   -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.profile-gallery-img:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.delete-button {
  text-align: center;
}

.edit-button {
  text-align: center;
}

.add-photo-button {
  text-align: center;
}

.user-edit-controls {
  margin: 20px;
  padding: 30px;
  & button {
    margin-top: 20px;
  }
}


.album-desc-container {
  display: flex;
  justify-content: center;
}

.show-album-description {
  max-width: 500px;
  border-width: 3px;
  border-style: double;
  border-color: red;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 20px;
}

.cardnew {
  width: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // color: white;
  position: relative;
  z-index: -1;
  height: 400px;
}

.testing {
  font-size: 28px;
  color: black;
}

.lighbox-photo-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9px;
}

.lightbox-painting-name {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.lightbox-painting-description {
  font-size: 14px;
  color: black;
  margin-bottom: 40px;
}

.swiper-pagination-bullet-active {
  background-color: red;
}

.album-show-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.album-show-buttons button {
  margin: 30px 10px;
}


