.show-album-name {
  font-size: 28px;
  font-weight: bold;
  font-family: $headers-font;
  text-align: center;
  margin: 20px;
}

.show-photo-name {
  font-size: 23px;
  text-align: center;
  margin: 5px;
}

.profile-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0px;
}

.profile-gallery-img {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
   -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.profile-gallery-img:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.delete-button {
  text-align: center;
  margin-top: 20px;
}

.edit-button {
  text-align: center;
  margin-top: 5px;
}

.album-desc-container {
  display: flex;
  justify-content: center;
}

.show-album-description {
  max-width: 300px;
  background-color: #f4f4f4;
  padding: 5px;
  font-size: 18px;
  margin-top: 55px;
  padding: 20px;
}

.all-pagination {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cardnew {
  width: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // color: white;
  position: relative;
  z-index: -1;
  height: 400px;
}

.testing {
  font-size: 28px;
  color: black;
}

